* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #ffe8d6;
	font-family: 'Courier New', Courier, monospace;
	color: #3f4238;
	line-height: 1.6;
}

.container {
	max-width: 650px;
	margin: 1rem auto;
	overflow: auto;
	padding: 0 2rem;
}

h1 {
	color: #6b705c;
	margin-top: 15px;
}

h3 {
	margin-bottom: 10px;
}

img {
	width: 100%;
}

.message {
	text-align: center;
	padding: 5px;
	border: #ddbea9 dotted 2px;
	margin-top: 2rem;
}

.logo {
	width: 300px;
	display: block;
	margin: auto;
}

.form-group {
	margin: 1rem 0;
}

input[type='text'],
select,
textarea {
	display: block;
	width: 100%;
	padding: 0.4rem;
	font-size: 1.2rem;
	border: 1px solid #ccc;
}

.btn {
	display: block;
	width: 100%;
	background: #b98b73;
	color: #ffe8d6;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	outline: none;
	margin-top: 1rem;
}